---
import MainGridLayout from "@layouts/MainGridLayout.astro";
import { getSortedPosts } from "@utils/content-utils";

const posts = await getSortedPosts();

const allTags = Array.from(
	new Set(posts.flatMap((post) => post.data.tags || [])),
).sort();
---

<MainGridLayout title="Notebook" description="Reflections, research notes, and fieldwork.">
  <section>
    <div class="mb-4">
      <h2 class="text-xl font-bold">Filter by Tag</h2>
      <ul class="flex flex-wrap gap-2">
        {allTags.map((tag) => (
          <li>
            <a href={`/Notebook/tags/${tag}/`} class="tag-button">{tag}</a>
          </li>
        ))}
      </ul>
    </div>

    <ul class="grid gap-4 mt-6">
      {posts.map((post) => (
        <li class="border p-4 rounded-xl">
          <a href={`/posts/${post.slug}/`} class="text-xl font-semibold">
            {post.data.title}
          </a>
          <p class="text-sm text-gray-500">{post.data.description}</p>
        </li>
      ))}
    </ul>
  </section>
</MainGridLayout>
